.tomato:hover {
    background-color: tomato;
}
.blue:hover {
    background-color: dodgerblue;
}
.green:hover {
    background-color: yellowgreen;
}
.purple:hover {
    background-color: mediumpurple;
}
.yellow:hover {
    background-color: yellow;
}
.pink:hover {
    background-color: hotpink;
}
.teal:hover {
    background-color: teal;
}
.orange:hover {
    background-color: orange;
}